.navbar {z-index: 0; width: 100%; min-width: 450px; height: 54px; margin: 0; text-align: center; vertical-align: middle; padding: .5rem 0;}

header .logo {float: left; flex-direction: row;}
header .navbar-brand {float: left; padding: 0;}
header .logo p {color: rgb(0, 0, 0); float: right; margin-top: 5px; font-weight: bold; font-size: 20px;}

header .header-menu {margin-bottom: 8px;}
header .header-menu .user-menu {color: black; float:left; margin-bottom: 0; margin-top: 3 px;}
header .header-menu .dropdown {float: right; margin: 0 15px 8px 30px; height: 30px; text-align: center; }
header .header-menu .dropdown .btn {text-align: center; padding: 1px .75rem;}
header .header-menu .dropdown .dropdown-menu {right: 0; left: unset;}
header .user-menu li {display: inline-block; margin-left: 30px;}
header .user-menu li:first-child {margin-left: 0px;}

.logo .menu-button {float: left; position: relative; margin: 7px 32px 0 0; width: 30px; height: 30px; transition: .3s ease-in-out;}
.logo .menu-button span {position: absolute; height: 6px; border-radius: 4px; width: 100%; background: black; top: 0;}
.logo .menu-button span:nth-child(1) {top: 0;}
.logo .menu-button span:nth-child(2) {top: 10px;}
.logo .menu-button span:nth-child(3) {top: 20px;}


header .sidebar-menu {z-index: 1; position: fixed; background: rgb(255, 255, 255); padding: 25px 0 0 15px; top: 0; left: 0; width: 0; height: 100%; opacity: 0; visibility: hidden; display: flex; transition: 0.3s;}
@keyframes fadeInLeft {
  0% {opacity: 0; transform: translateX(-25%);}
  100% {opacity: 1; transform: translateX(0);}
}
header .sidebar-menu.visible {width: 350px; opacity: 1; visibility: visible;}
header .sidebar-menu .sidebar-header .menu-button {float: left; position: absolute; margin-top: 0px; width: 30px; height: 30px;}
header .sidebar-menu .sidebar-header .menu-button span {position: absolute; height: 6px; border-radius: 4px; width: 100%; background: white;}
header .sidebar-menu .sidebar-header .menu-button span:nth-child(1) {transform: rotate(45deg); background: white;}
header .sidebar-menu .sidebar-header .menu-button span:nth-child(2) {transform: rotate(-45deg); background: white;}



