/* main section */

* {margin: 0; padding: 0;}

body {background-color: #DAE0E6;}

/* header */
.navbar {z-index: 5; border-bottom: 2px solid black; width: 100%; min-width: 450px; height: 54px; margin: 0; text-align: center; vertical-align: middle; padding: .5rem 0;}

header .logo {float: left; flex-direction: row;}
header .navbar-brand {float: left; padding: 0;}
header .logo p {color: black; float: right; margin-top: 5px; font-weight: bold; font-size: 20px;}

header .header-menu {margin-bottom: 8px;}
header .header-menu .dropdown {float: right; margin: 0 15px 8px 15px; height: 30px; text-align: center;}
header .header-menu .dropdown .btn {text-align: center; padding: 1px .75rem;}
header .header-menu .dropdown .dropdown-menu {right: 0; left: unset; top:130%;}
header .header-menu .dropdown .dropdown-menu h3 {font-size: 10px; color: gray; font-weight: 700; letter-spacing: .5px; line-height: 12px; text-transform: uppercase; margin: 8px 0 4px 12px;}
header .header-menu .dropdown .custom-control .custom-control-label {position: relative;}
/* header .header-menu .dropdown .custom-control .custom-control-input {visibility: hidden;} */
header .user-menu li {display: inline-block; margin-left: 10px;}
header .user-menu li:first-child {margin-left: 0px;}

.logo .menu-button {float: left; position: relative; margin: 7px 32px 0 0; width: 30px; height: 30px; transition: .3s ease-in-out;}
.logo .menu-button span {position: absolute; height: 6px; border-radius: 4px; width: 100%; background: black; top: 0;}
.logo .menu-button span:nth-child(1) {top: 0;}
.logo .menu-button span:nth-child(2), .logo .menu-button span:nth-child(3) {top: 10px;}
.logo .menu-button span:nth-child(4) {top: 20px;}

.logo .menu-button.active span:nth-child(1), .logo .menu-button.active span:nth-child(4) {opacity: 0;}
.logo .menu-button.active span:nth-child(2) {transform: rotate(45deg); background: black;}
.logo .menu-button.active span:nth-child(3) {transform: rotate(-45deg); background: black;}


.sidenav {z-index: 4; position: fixed; background: white; top: 50px; left: 0; width: 0; height: 100%; opacity: 0; visibility: hidden; transition: 0.3s;}
@keyframes fadeInLeft {
  0% {opacity: 0; transform: translateX(-25%);}
  100% {opacity: 1; transform: translateX(0);}
}
.sidenav.visible {width: 350px; opacity: 1; visibility: visible;}
.sidenav .sidenav-menu-link {position: relative;}
.sidenav ul {padding: 0; list-style: none; margin-bottom: 0;}
.sidenav ul a{display: block; height: 100%; width: 100%; line-height: 65px; font-size: 20px; color: black; text-decoration: none; padding-left: 10px; box-sizing: border-box; border-bottom: 1px solid gray; border-top: 1px solid rgba(255,255,255,.1); transition: .4s;}
.sidenav ul li:hover a{ padding-left: 50px;}
.sidenav svg {margin-right: 10px;}
.sidenav h3 {font-size: 12px; color: gray; font-weight: 700; letter-spacing: .5px; line-height: 12px; text-transform: uppercase; margin: 10px 0 5px 5px;}

.sidenav-background {z-index: 3; position: fixed; top:0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.8); transition: all .3s; opacity: 0; visibility: hidden;}
.sidenav-background.visible {opacity: 1; visibility: visible;}

/* board card container */
.con-cards {position: relative; margin: 75px auto 25px auto; display: flex;}
.con-cards > div {width: 18rem; height: 250px; margin-left: 20px; border:1px solid darkgray; border-radius: 0.25rem;}
.con-cards > div:nth-child(1) {margin-left: 40px;}
.con-cards > .card-header {background-color: #f9f9f9; font-weight: bold;}
.con-cards > li:hover { background-color: #f9f9f9;}
.con-cards ul > li {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.con-cards ul > li > a {color: black; text-decoration: none;}
.con-cards iframe {border-radius: 0.25rem;}

/* main contatiner (left) */
.con-main {position: relative; display: flex;}
.con-main > .left {width: 200px; margin-left: 40px;}
.con-main > .left > div {margin-bottom: 10px;}
.con-main > .left > .main_profile {height: 300px; border: 1px solid darkgray; border-radius: 0.25rem; background-color: rgba(255,255,255, 0.9);}
.con-main > .left > .main_profile > form {text-align: center; padding: 24px 20px; margin: 39px auto;}
.con-main > .left > .main_profile > form > img {width: 100px; height: 100px;}
.con-main > .left > .main_profile > form > p {font-weight: bold; font-size: 15px; margin: 10px auto;}
.con-main > .left > .main_profile > form > ul {padding: 0; margin: 0; list-style: none; display: flex; justify-content: center;}
.con-main > .left > .main_profile > form > ul > li:nth-child(2) {margin-left: 10px;}

.con-main > .left > a > img {width: 200px; height: 100px; border: 1px solid darkgray; border-radius: 0.25rem; margin-bottom: 10px;}

/* main contatiner (center) */
.con-main > .center {margin-left: 10px; width: 1000px;}
.con-main > .center > .main-function {padding: 5px; border: 1px solid darkgray; border-radius: 0.25rem; background-color: #fff; width: 100%;}
.con-main > .center > .main-function > form {float: right; margin-top: 5px; margin-bottom: 10px;}
.con-main > .center .viewbox > .article {border:1px solid darkgray; border-radius: .25rem; margin-bottom: 10px; padding:10px; background-color: #fff; width: 100%;}
.con-main > .center .viewbox > .article > div {margin-bottom: 10px; height: 50px;}
.con-main > .center .viewbox > .article > div > a {color:black; text-decoration:none;}
.con-main > .center .viewbox > .article > p {color: black;}
.con-main > .center .viewbox > .article > div > .titleshow {float:left;}
.con-main > .center .viewbox > .article > div > .regdateshow {text-align: center; float:right;}


